@font-face {
  font-family: estedad;
  src: url(../fonts/Estedad-Bold.ttf);
}

@font-face {
  font-family: yekan;
  src: url(../fonts/Yekan\ Bakh\ Regular.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  direction: rtl;
  font-family: yekan, estedad, sans-serif;
  font-size: 1.8rem;
  background-color: var(--black);

  display: flex;
  flex-direction: column;
  gap: 8rem;
}

input,
button {
  font-family: yekan, estedad, sans-serif;
}

a {
  all: unset;
}

ul {
  list-style: none;
}

button,
a,
li {
  cursor: pointer;
}

@media (max-width: 1440px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 922px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 623px) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 25%;
  }
}