.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 1rem 4rem;
}

.footer .head {
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr 10rem 20rem;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  font-size: 2.2rem;
}

.footer .head .goUp {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: transparent;
  border: 0.1rem solid var(--brown);
  color: var(--white);
}

.footer .head .list {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}
.footer .head .list .item {
  transition: 0.2s;
}
.footer .head .list .item:hover {
  transform: translateY(-0.3rem);
}

.footer .head .icons {
  justify-self: end;
  display: flex;
  gap: 1rem;
  font-size: 3rem;
}

.footer .head .icons a {
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.footer .head .icons a:hover {
  color: var(--brown);
}

.footer .head .download-btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  transition: 0.2s;
}

.footer .head .download-btn:hover {
  background-color: var(--lightGreen);
}

.footer p {
  font-size: 2.5rem;
}

@media (max-width: 430px) {
  .footer .head {
    width: auto;
    grid-template-columns: 10rem 25rem 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .footer .head .goUp {
    font-size: 1.5rem;
    justify-self: center;
  }
  .footer .head .list {
    grid-column: 2/-1;
  }

  .footer .head .icons,
  .download-btn {
    grid-row: 2;
  }
}
